/* General */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f7f7f7;
}


/* Content */
.content {
  margin-left: 40px;
  padding: 20px;
  min-height: 90vh;
}


/* Footer */
.footer {
  background-color: #d3d3d3;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.event-image1 {
  width: 5px;
  height: 10px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}